{% extends "students/base.html" %}
{% load crispy_forms_tags %}
    {% block title %}
        {{ user.username }}'s-Profile
    {% endblock %}
    {% block profile %}
        <!-- <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="..." class="card-img" alt="Profile Pic">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Username: {{user.username}}</h5>
                <p class="card-text">Email: {{user.email}}</p>
                <p class="card-text"><small class="text-muted">Extra features & Random Text</small></p>
              </div>
            </div>
          </div>
        </div> -->
        <h1>Profile</h1>
    {% endblock %}
    {% block content %}
<!--        <h1>{{ user.username }}</h1>-->
    {% endblock %}
