{% extends "library_admin/base.html" %}
    {% load static %}
    {% block title %}LMS@College{% endblock %}
    {% block content %}
<div class="content">
    <center>
        <div class="card" style="width: auto; height: 18rem;"> <!--style="width: 24rem; height: 20rem"-->
            <div class="card-body">
                <h3 style="font-family: 'Dancing Script', cursive;font-weight: bold">Library Management System @College</h3>
                <h5 class="card-title" style="font-family: 'Eagle Lake', cursive;">
                    <img src="{% static 'images/book-160871.svg' %}" width="40em" height="40em" class="img-fluid" alt="Responsive image">
<!--                    Static/book-160871.svg-->
                    LOGIN
                </h5>
                <a style="font-family: 'Eagle Lake', cursive;" class="btn btn-outline-dark custom-btn" href="{% url 'lib_admin_login'%}">ADMIN</a><br><br>
                <a style="font-family: 'Eagle Lake', cursive;" class="btn btn-outline-info custom-btn" href="{% url 'stud_login' %}">STUDENT</a>
            </div>
        </div>
    </center>
</div>
    {% endblock %}
