.cent{
    padding-top: 12em;
}
.card{
    background-color: rgba(212,157,125,0.3);
/*    background-color: rgba(0,0,0,0.3);  */
    color: black;
    font-family: cursive;
}
.lidrary_admin_body{
    background-image: url(../images/BgIndex.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.student-body{
    background-image: url(../images/StudentBg.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;

}
.custom-btn{
    margin: 5px 5px 5x 5px;
    width: 10em;
    color: black;
    text-align: center;
}
.card-body{
    margin: 1rem 1rem 1rem 1rem;
}
/*
label{
    font-size: 1.5em;
}
*/
.jumbotron{
/*    background-color: rgba(212,157,125,0.3);*/
    background-color: rgba(24,105,135,0.5);
    color: white;
    font-family: 'Eagle Lake', cursive;

}
/*.form{
    text-align: left;
}*/
.content{
    padding-top: 10em;
}

#LoginCSS{
    padding-top: 5rem;

}


